/* This is website-wide CSS for the first page. Take note that from here on out any commented CSS code
is purely there for debugging reasons, other comments are organizational. */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

body {
    background:#AFAFAF;
    font-family: 'Poppins', sans-serif;
}

/* This is the navbar related CSS. */
.nav {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    /* border: 1px solid red; */
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background: #AEAEAE;
        /* border: 1px solid red; */
}
.nav-item {
    text-decoration: none;
    color: rgb(133, 133, 133);
    margin: 0px 10px;
}
/* This is where any container related CSS is stored. */
.content {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: center;
    text-align: center;
    /* border: 1px solid red; */
}
.content-container {
    display: flex;
    justify-content: center;
    width: 420px;
    height: 210px;
    /* border: 1px solid red; */
    margin-top: 30px;
    background: rgb(133, 133, 133);
    border-radius: 5%;
}
.content-container img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
/* This is where the header CSS is stored. */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* border: 1px solid red; */
    align-content: center;
    margin-top: 80px;
    
}

.header-masthead {
    display: flex;
    margin-top: 80px;
    color: rgb(133, 133, 133);
}

.header-image {
    width: 310px;
    height: 206.5px;
    border-radius: 50%;
    
}